.showFeedback {
    display: flex;
    position: absolute;
}
.span-invalid-feedback{
    position: relative;
    bottom: 3px;
}
.mostrarErroresServidor {
    position: absolute;
}

.form-group{
	margin-bottom: 30px;
}

.dataTablesD > .dropdown-toggle::after {
    display: none !important;
}

.without-btn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.opcionesOp{
    padding: 10px;
}
.operaciones{
    cursor: pointer;
}
.operaciones:hover{
    color: #0010f7;
}
.showFeedback{
    position: relative !important;
}
#cerrarAlerta, #cerrarAlertaEditar{
    font-weight: 800;
    font-size: 20px;
}

.alert-dismissible .close, .alert-dismissible .mailbox-attachment-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: .75rem 1.25rem;
    color: inherit;
}

/******DATATABLES*******/
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid transparent;
    background-color: transparent !important;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, transparent 0%, transparent 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, transparent 0%, transparent 100%);
}

#data-table > thead {
    background-color: #fff !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}
        
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
	top: 50%;
	left: 5px;
	height: 1em;
	width: 1em;
	margin-top: -9px;
	display: block;
	position: absolute;
	color: white;
	border: .15em solid white;
	border-radius: 1em;
	box-shadow: 0 0 .2em #444;
	box-sizing: content-box;
	text-align: center;
	text-indent: 0 !important;
	font-family: "Courier New",Courier,monospace;
	line-height: 1em;
	content: "+";
	background-color: #0d6efd;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
	content: "-";
	background-color: #d33333;
}

table.dataTable.no-footer {
    border-bottom: 0px solid #fff !important;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 0px solid #fff !important;
}


.form-control-sm {
    min-height: 0 !important;
    padding: 0  !important;
	margin-bottom: 5px;
}

.buttons-html5{
	margin-right: 5px;
}

.page-item.active .page-link {
    z-index: 1 !important;
}